<!--Main Navigation-->
<header class="intro-header">
  <!--Navbar-->

  <!-- Intro Section -->
  <div class="view jarallax">
    <video autoplay muted loop id="myVideo">
      <source src="assets/bg_video.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2
                class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown"
                data-wow-delay="0.3s"
              >
                <strong>Coming Soon...</strong>
              </h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" />
              <h5
                class="font-up mb-5 white-text wow fadeInDown"
                data-wow-delay="0.4s"
              >
                <strong>Software development & design</strong>
              </h5>
              <!--
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInDown waves-light"
                data-wow-delay="0.4s"
                mdbWavesEffect
                >portfolio</a
              >
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInDown waves-light"
                data-wow-delay="0.4s"
                mdbWavesEffect
                >About me</a
              >-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->
